/* header */
header {
    text-align: center;
    width: 100vw;
    height: 600px;
    background-color: black;
    justify-content: center;
}
#serin-to-shine {
    font-size: 7em;
    letter-spacing: 2px;
    animation: slide-shine 3s;
    text-shadow: rgb(255, 247, 0) 0 0 20px;
}
@keyframes slide-shine {
    0% {
        transform: translateY(70px);
        opacity: 0;
        animation-timing-function: ease-in-out;
        text-shadow: none;
    }
    45% {
      transform: translateY(0);
      opacity: 1;
    }
    52% {
        text-shadow: rgb(255, 247, 0) 0 0 20px;
    }
    59% {
        text-shadow: none;
    }
    65% {
        text-shadow: rgb(255, 247, 0) 0 0 20px;
    }
}
.neck {
    background-color: var(--navy-c);
    height: 70px;
}

/* profile */
.profile-pic {
    background: url(../image/profile.png);
    background-size: 100%;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-bottom: 30px;
    box-shadow: inset;
}
.profile-group {
    align-items: center;
    text-align: center;
    margin-right: 60px;
}
#profile .con_top_pd {
    padding-top: calc(var(--base-unit)*3.5);
}
#profile > .container {
    display: inline-flex;
}
.description {
    font-weight: 500;
    font-size: var(--base-unit);
    line-height: calc(var(--base-unit)*1.2);
    max-width: 50vw;
    min-width: 30vw;
}

/* Information */
.information{
    display: flex;
    gap: 90px;
}
.education{
    padding-top: calc(var(--base-unit)*8.5);
}
.information .con_top_pd{
    padding-top: calc(var(--base-unit));
}
.information .con_bottom_pd{
    padding-bottom: calc(var(--base-unit)*3.33);
}
.information .flexing{
    gap:10px;
}
.information i {
    transform: scale(1.5);
    position: relative;
    top: 20%;
}

/* Computer Skills */
.comp_skill .con_bottom_pd{
    padding-bottom: calc(var(--base-unit)*3.33);
}
.comp_skill .semibold800{
    margin: calc(var(--base-unit)) 0 calc(var(--base-unit)*1.825);
}
.comp_skill .flexing{
    gap:280px;
}
.graph {
    padding-top: calc(var(--base-unit)*1.5);
}


/* Click to see */
.clickToSee {
    text-align: center;
    background-color: var(--lightblue-c);
}
.CS_Media {
    display:flex;
    justify-content: space-between;
}
.computer_science {
    background: url(../image/Computer\ Science.jpg);
}
.media{
    background: url(../image/Media.jpg);
}
.computer_science:hover, .media:hover {
    opacity: 60%;
    transition-duration: 0.2s;
}
.computer_science, .media {
    background-size: cover;
    width: 49.45vw;
    height: 510px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;
}


/* for new cpu skill display */
.cpu-skill-new {
    width: 100vw;
}
.cpu-skill-new .row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    padding-top: 2%;
    padding-bottom: 2%;
}
.donut {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    position: relative;
    text-align: center;
}
.donut::before {
    color: var(--navy-c);
    width: 70%;
    height: 70%;
    background: white;
    border-radius: 50%;
    position: absolute;
    left: 15%;
    top: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    content: attr(id);
    margin: auto;
}