/* header */
.main_title {
    color: #fff;
    padding-top: 450px;
}
header {
    text-align: center;
    width: 100vw;
    height: 900px;
    background: url(../image/shine.jpg);
}

/* profile */
.profile {
    text-align: center;
    background-color: var(--lightblue-c);
    width: 100vw;
}
.align-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile_circle {
    width: 300px;
    height: 310px;
    position: relative;
}
.profile_circle div {
    position: absolute;
}
.profile_circle .profile_pic {
    background: url(../image/new_profile.png);
    background-size: 100%;
    z-index: 1;
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
.profile_circle .profile_pic_bg {
    background-color: var(--skyblue-c);
    z-index: 0;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    top: 10px;
}
.profile_list {
    display:flex;
    gap: 100px;
}
.profile .con_top_pd {
    padding-top: calc(var(--base-unit)*3.5);
}
.profile .semibold800{
    font-size: calc(var(--base-unit)*1.5);
    white-space: nowrap;
    text-align: center;
    margin-top: var(--base-unit);
}
.profile_list .descript{
    margin: calc(var(--base-unit)/2) 0 calc(var(--base-unit)/2);
}

/* Information */
.information{
    display: flex;
    gap: 90px;
}
.education{
    padding-top: calc(var(--base-unit)*8.5);
}
.information .con_top_pd{
    padding-top: calc(var(--base-unit));
}
.information .con_bottom_pd{
    padding-bottom: calc(var(--base-unit)*3.33);
}
.information .flexing{
    gap:10px;
}
.information i {
    transform: scale(1.5);
    position: relative;
    top: 20%;
}

/* Computer Skills */
.comp_skill .con_bottom_pd{
    padding-bottom: calc(var(--base-unit)*3.33);
}
.comp_skill .semibold800{
    margin: calc(var(--base-unit)) 0 calc(var(--base-unit)*1.825);
}
.comp_skill .flexing{
    gap:280px;
}
.graph {
    padding-top: calc(var(--base-unit)*1.5);
}


/* Click to see */
.clickToSee{
    text-align: center;
    background-color: var(--lightblue-c);
}
.CS_Media{
    display:flex;
    justify-content: space-between;
}
.computer_science {
    background: url(../image/Computer\ Science.jpg);
    background-size: cover;
    width: 49.45vw;
    height: 510px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;
}
.computer_science:hover, .media:hover {
    opacity: 60%;
    transition-duration: 0.2s;
}

.media{
    background: url(../image/Media.jpg);
    background-size: cover;
    width: 49.45vw;
    height: 510px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;
}