/* content */
.intro {
    text-align: center;
    background-color: var(--navy-c);
    color: white;
    padding-top: 20%;
    font-size: 160%;
}
.intro:hover {
    font-size: 180%;
    transition-duration: 0.2s;
    text-shadow: rgb(255, 247, 0) 4px 0 20px;
}
.content-list {
    height: 1200px;
}
#nav-display, .row {
    display: flex;
    justify-content: space-evenly;
}
#nav-display {
    gap: 15vw;
}
.row {
    flex-direction: column;
    gap: 10vh;
}

/* project */
h2 {
    padding-top: 5%;
    padding-bottom: 2%;
}
.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.3);
    /* 숨기기 */
    z-index: -1;
    opacity: 0;
}
.window {
    position: relative;
   width: 100%;
    height: 100%;
}
.project {
    border: 5px solid var(--skyblue-c);
    position: absolute;
    width: 76vw;
    left: 12%;
    right: 12%;
    top: 5vh;
    height: 85vh;
    background-color: white;
    box-shadow: 0 2px 7px rgba(0,0,0,0.3);
    /* a little bit below */
    transform: translate(0%, 5%);
}
.show {
    opacity: 1;
    z-index: 10;
    transition: all 0.5s;
}
.show .project {
    transform: translate(0%, 0%);
    transition: all 0.5s;
}
.pad-left {
    padding-left: 5%;
}
.pad-right {
    padding-right: 5%;
}
.close {
    background-color: var(--skyblue-c);
    border: none;
    border-radius: 10px;
    width: 4vw;
    height: 4vw;
    color: white;
    font-size: 1.5em;
    position: absolute;
    right: 2%;
    top: 2%;
}
.gallery .row {
    flex-direction: row;
    gap: 0;
}
.row img {
    height: auto;
}
.givo .row img {
    width: 10vw;
}
.yearbook .row img, .cooking .row img {
    width: 20vw;
}
.dongwon-wire .row img {
    width: 15vw;
}
.kisj .row {
    flex-direction: row;
}
.kisj .row .details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.poster {
    width: 23vw;
    height: calc(23vw * 1.4);
    border: 1px solid var(--navy-c);
}
.tools img {
    width: 2.5vw;
    height: 2.5vw;
}
.details {
    display: flex;
    justify-content: space-between;
    padding-top: 2%;
    font-weight: 500;
}
.description {
    padding-top: 2%;
}
.colors {
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.colors * {
    width: 2.5vw;
    height: 2.5vw;
    border-radius: 10%;
    box-shadow: 0 2px 3px rgba(0,0,0,0.3);
}
.color-portfolio-1 {
    background-color: var(--lightblue-c);
}
.color-portfolio-2 {
    background-color: var(--skyblue-c);
}
.color-portfolio-3 {
    background-color: var(--navy-c);
}
.color-dongwon-1 {
    background-color: #2A44B1;
}
.color-dongwon-2 {
    background-color: #CDAB3C;
}
.color-dongwon-3 {
    background-color: #3C779F;
}