/* common */
header, .content-list, .project, .connector, .divider {
    width: 100vw;
}
header, .star:hover, .divider {
    background-color: white;
}
header {
    height: 130px;
    text-align: center;
}
h2 {
    padding-top: 10%;
    font-size: 2.5em;
    font-weight: 600;
}
.content-list {
    background-color: var(--navy-c);
    align-items: center;
}
.star {
    background-color: black;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    text-align: center;
}
div[class="star"] {
    color: white;
    padding: 10px;
    font-size: 1.5em;
}
.star, .content-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.star:hover {
    color: black;
    box-shadow: 0 0 60px rgb(255, 252, 156);
    transition-duration: 0.2s;
    cursor: grab;
}
.project {
    background-color: var(--lightblue-c);
}
@media (prefers-reduced-motion: no-preference) {
    * {
      scroll-behavior: smooth;
    }
}
ul[class="detail"], .description {
    line-height: 1.3em;
    padding: 40px 0;
}
ul[class="detail"] {
    font-size: 1.2em;
    font-weight: 500;
}
.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.left-col, .right-col {
    min-width: 30vw;
}
button[class~="goto"] {
    background-color: var(--brightblue-c);
    color: white;
    border-radius: 5px;
    width: 18vw;
    border: 4px solid var(--skyblue-c);
    padding: 5px 0;
    margin-bottom: 6px;
}
button[class~="goto"] a {
    color: white;
}
.navigate-button {
    position: fixed;
    bottom: 40px;
    right: 40px;
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}
.button {
    z-index: 5;
    background-color: var(--skyblue-c);
    color: white;
    cursor: grab;
    padding: 15px;
    max-width: 1em;
    max-height: 1em;
    border-radius: 50px;
    font-size: 1.4em;
}
.button:hover {
    transform: translateY(5px);
    transition-duration: 0.2s;
}

